.Tile {
    width: 5vw;
    height: 5vw;
    max-width: 70px;
    max-height: 70px;
    display: block;
    background-color: skyblue;
    box-sizing:border-box;
    position: relative;
}

.Tile__active {
    cursor: pointer;
}

.Tile__active:hover {
    border: 3px solid greenyellow;
}

.Tile__even {
    background-color: #f1d9b5;
}

.Tile__odd {
    background-color: #b58863;
}

.Tile__piece {
    display: block;
    width: 5vw;
    height: 5vw;
    position: absolute;
    top: 2px;
    left: 0;
    max-width: 70px;
    max-height: 70px;
    margin-left: 0.05vw;
}

.Tile__active:hover > .Tile__piece {
    position: absolute;
    top: -1px;
    left: -3px;
}