@font-face {
  font-family: 'teletoon';
  src: local('teletoon'), url('./assets/fonts/telelower.ttf') format('truetype');
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background: url('./assets/background/bg.jpg') center center/cover no-repeat;
  background-color: black;
}

body::before {
  content: '';
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: -1;
}